body {
    margin: 0;
}

header {
    background-color: #fff;
    box-shadow: 0px 16px 20px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 70px;
    top: 0;
}

@media screen and (max-width:1080px) {
    header {
        position: fixed;
        z-index: 1;
    }
}

@media screen and (max-width:767px) {
    header {
        position: fixed;
        z-index: 1;
    }
    
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 36px;
    position: relative;
}

@media screen and (max-width:1080px) {
    .headerContainer {
        margin-top: 25px;
    }
}

.headerLogo {
    display: flex;
    align-items: center;
}

@media screen and (max-width:767px) {
    .headerLogo {
        width: auto;
        height: 15px;
    }
}

.headerLogo-image {
    display: block;
    transition: all 0.5s;
    width: 190px;
}

.headerLogo-image:hover {
    opacity: 0.7;
}

ul {
    display: flex;
    font-size: 10px;
    font-weight: bold;
    gap: 50px;
    height: 70px;
    justify-content: right;
    list-style: none;
    text-align: center;
    z-index: 0;
}

@media screen and (max-width:1080px) {
    ul {
        display: none;
    }
}

.navigation-list {
    align-items: center;
    height: 70px;
    margin-top: 0;
    margin-bottom: 0;
}

.navigation {
    align-items: center;
    color: black;
    line-height: 10px;
    text-decoration: none;
    transition: all 0.5s;
}

.navigation:hover {
    opacity: 0.7;
}

.navigation-contact {
    color:#fff;
    background-color:orange;
    border: 2px solid orange;
    border-radius: 50px;
    display: flex;
    height: 40px;
    padding: 0px 20px;
    text-decoration: none;
}

.headerNavi {
    display: flex;
}

.hamburgerMenu {
    display: none;
}

@media screen and (max-width:1080px) {
    .hamburgerMenu {
        display: flex;
        position: relative;
        width: 100%;
    }

    .hamburgerMenu-line {
        background-color: darkgray;
        height: 2px;
        width: 20px;
        position: absolute;
        display: inline-block;
        margin: 10px auto;
    }

    .hamburgerMenu-line:first-child {
        top: -7px;
    }

    .hamburgerMenu-line:last-child {
        top: 7px;
    }
}

.mainContainer {
    position:relative;
}

.first-view {
    position:absolute;
    z-index: -1;
}

@media screen and (max-width:767px) {
    .first-view {
        display: none;
    }
}

.full-visual {
    display: none;
}

@media screen and (max-width:767px) {
    .full-visual {
        display: block;
        width: 100%;
        margin-top: 60px;
    }
}

.left-rectangle {
    top: -20px;
    left: -70px;
}

.right-rectangle {
    top: 320px;
    right:-15px;
    bottom:0;
}

.fill-rectangle {
    left:-70px;
    top:70px;
}

.main-visual {
    width: 800px;
    top: -60px;
    right:0px;
    z-index: -1;
}

.firstviewContainer {
    position: relative;
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
}

@media screen and (max-width:1080px) {
    .firstviewContainer {
        padding: 270px 30px 0 30px;
    }
}

@media screen and (max-width:767px) {
    .firstviewContainer {
        padding-top: 0;
        width: 100%;
    }
}

.firstviewContent {
    position:relative;
    width: fit-content;
}

.badge {
    left: 400px;
    top: -100px;
    position: absolute;
}

@media screen and (max-width:767px) {
    .badge {
        left: 250px;
        height: 100px;
        top: -20px;
        position: absolute;
    }
}

.contact {
    color:#fff;
    background-color:orange;
    border-radius: 50px;
    display: inline-block;
    justify-content: center;
    margin-bottom: 10px;
    margin: 0 auto;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    left: 0;
    top: 450px;
    transition: all 0.5s;
    width: 100%;
}

.contact:hover {
    opacity: 0.7;
}

@media screen and (max-width:767px) {
    .contact {
        width: 100%;
    }
    
}

.main-message {
    top: 250px;
    left:200px;
    z-index: 10;
    font-size: 40px;
    padding-bottom: 10px;
}

@media screen and (max-width:767px) {
    .main-message {
        top: 250px;
        left:200px;
        z-index: 10;
        font-size: 25px;
        padding-bottom: 10px;
    }
}

.sub-message {
    left: 200px;
    top: 520px;
    font-size: 10px;
    padding-top: 20px;
}

